{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
#setting-name{
    border-bottom: 1px solid brown;
    padding-top: 5px;
    font-size: 1.3rem;
    font-weight: bolder;
    }
#list-settings{
    margin-top: 10px;
    font-weight: bolder;
}
.container{
  background-color: white;
}
#change-password{
  color: black;
}
</style>
  <div class="container">
      <div id="setting-name" >Setting</div><br><br>
      <form  method="POST">
        {% csrf_token  %}
        <b> Edit Your Info: </b>
        <br>
        {{ form.username|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        {{ form.first_name|as_crispy_field }}
        {{ form.last_name|as_crispy_field }}
        <a id="change-password" href="{% url 'accounts:password_change' %}">Change My Password</a><br><br>
        <input class="btn btn-danger" type="submit">
      </form>
      <input type="hidden" class="csrf_value" value="{{csrf_token}}">
  </div>
{% endblock %} 